@media screen and (min-width: 768px) {
  :root {
    --section-padding: 0px 60px;
  }
  #hero-section .content {
    max-width: 50%;
  }

  #hero-section .content p {
    width: auto;
  }
  #case-study-section .case-studies .case-study {
    gap: 20px;
  }

  #case-study-section .case-studies .case-study img {
    height: 200px;
  }

  #case-study-section .case-studies .case-study .content {
    max-width: 55%;
  }
  #portfolio-section .portfolio-cards {
    width: 100%;
  }

  footer .contact-us .contact-details {
    max-width: 50%;
  }

  footer .contact-us .contact-details .info h3 {
    max-width: initial;
  }
}
